<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<rewrite>
    <rules>
        <rule name="Redirect to non-www" enabled="false" stopProcessing="true">
            <match url="(.*)" negate="false"></match>
            <action type="Redirect" url="http://pangchn.com/{R:1}"></action>
            <conditions>
                <add input="{HTTP_HOST}" pattern="^pangchn\.com$" negate="true"></add>
            </conditions>
        </rule>
    </rules>
</rewrite>
    </system.webServer>
</configuration>


